################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/apbs-time-app/bin/Debug/net9.0
/apbs-time-app-admin/bin/Debug/net9.0
/apbs-time-app-admin/logs
/apbs-time-app-admin/obj
/Shared/bin/Debug/net9.0
/Shared/obj
/apbs-time-app/obj
/.idea/.idea.apbs-time-app/.idea
/Apbs-Time-App.Client.Shared/bin/Debug/net9.0
/Apbs-Time-App.Client.Shared/obj
/time-app-gateway/bin/Debug/net9.0
/time-app-gateway/obj
/Apbs-Time-App.Client.TimeManager/obj
/bin/Debug
/obj
/apbs-time-app/.sonarqube
/Apbs-Time-App.Client.TimeManager/.sonarqube
/Apbs-Time-App.Client.TimeManager/bin/Debug/net9.0
/time-tracking-frontend/node_modules
/ultima-vue-6.3.0/node_modules
/Back/.idea/.idea.apbs-time-app/.idea
/Back/.vs
/Back/apbs-time-app/.sonarqube
/Back/apbs-time-app/bin/Debug/net9.0
/Back/apbs-time-app/obj
/Back/apbs-time-app-admin/bin/Debug/net9.0
/Back/apbs-time-app-admin/logs
/Back/apbs-time-app-admin/obj
/Back/Apbs-Time-App.Client.Shared/bin/Debug/net9.0
/Back/Apbs-Time-App.Client.Shared/obj
/Back/Apbs-Time-App.Client.TimeManager/.sonarqube
/Back/Apbs-Time-App.Client.TimeManager/bin/Debug/net9.0
/Back/Apbs-Time-App.Client.TimeManager/obj
/Back/obj
/Back/Shared/bin/Debug/net9.0
/Back/Shared/obj
/Back/time-app-gateway/bin/Debug/net9.0
/Back/time-app-gateway/obj
/Back/bin/Debug
/Front/time-tracking-frontend/node_modules
/Front/ultima-vue-6.3.0/node_modules
/Front/ultima-vue-6.3.0/dist
