################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/apbs-time-app/bin/Debug/net9.0
/apbs-time-app-admin/bin/Debug/net9.0
/apbs-time-app-admin/logs
/apbs-time-app-admin/obj
/Shared/bin/Debug/net9.0
/Shared/obj
/apbs-time-app/obj
/.idea/.idea.apbs-time-app/.idea
/Apbs-Time-App.Client.Shared/bin/Debug/net9.0
/Apbs-Time-App.Client.Shared/obj
/time-app-gateway/bin/Debug/net9.0
/time-app-gateway/obj
/Apbs-Time-App.Client.TimeManager/obj
/bin/Debug
/obj
