.layout-topbar-dark {
    --topbar-bg: black;
    --topbar-start-bg: black;
    --topbar-menu-button-bg: green;
    --topbar-menu-button-hover-bg: green;
    --topbar-menu-button-text-color: rgb(255, 255, 255);
    --topbar-item-text-color: green;
    --topbar-item-hover-bg: rgba(76, 76, 76, 0.694);
}
